<div class="phx-hero">
  <h2>Das ist die Login Seite. Immer noch der Tuuuur</h2>
  <form action="/login" method="POST">
    <input name="username" type="text" placeholder="Benutzername">
    <input name="password" type="text" placeholder="Passwort">
    <input type="submit" value="Anmelden">
  </form>
</div>