<div class="phx-hero">
  <h2>Das ist die Login Seite. Immer noch der Tuuuur</h2>
  <form>
    <input type="text" placeholder="Benutzername">
    <input type="text" placeholder="Passwort">
  </form>
</div>